{{#partial "page"}}

<div id="customizer">

	<h1>Points Rewards Program</h1>
	<p id="redeem-ratio"></p>

	<div class="login-customer">
		<label>Points Available: </label>
		<strong><p class="points-available"></p></strong>
		<label>Share link: </label>
		<strong>
			<p id="referral-link"></p>
		</strong>
		<div class="redeem-store-credit">
			<form>
				<input id="store-credit" placeholder="Points to Redeem to Store Credit">
				<button id="store-credit-submit">Redeem as Store Credit</button>
			</form>
		</div>

		<div class="redeem-coupon">
			<form>
				<input id="coupon" placeholder="Points to create a coupon">
				<button id="coupon-submit">Redeem as Coupon</button>
			</form>
		</div>

		<div class="popUpWrap storeCredit" style="display: none; position: fixed; background: rgba(0,0,0,0.7); width: 100%; height: 100%; top: 0; left: 0; z-index: 101;">
			<div class="pop-up" style="position: absolute; top: 50%; left: 50%; background: #dedede;">
				<p id="store-credit-msg"></p>
				<button class="close">OK</button>
			</div>
		</div>

		<div class="popUpWrap coupon" style="display: none; position: fixed; background: rgba(0,0,0,0.7); width: 100%; height: 100%; top: 0; left: 0; z-index: 101;">
			<div class="pop-up" style="position: absolute; top: 50%; left: 50%; background: #dedede;">
				<p id="coupon-msg"></p>
				<button class="close">OK</button>
			</div>
		</div>
		<div class="customer-details">
			<div class="orderInfo" style="margin-top: 20px;"></div>
			<div class="referralInfo" style="margin-top: 20px;"></div>
			<div class="redemptionInfo" style="margin-top: 20px;"></div>	
		</div>
		
	</div>


	<div class="guest-customer">
		<h3>Start shopping NOW and enjoy our awesome points reward program!</h3>
	</div>

</div>

	


{{/partial}}
{{> layout/base}}