<div class="form-field" data-product-attribute="input-text" style="display: none;">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="attribute_{{id}}">
        {{ this.display_name }}:

        {{#if required}}
            <small>{{lang 'common.required'}}</small>
        {{/if}}
    </label>

    <input class="form-input form-input--small" type="text" id="attribute_{{id}}" name="attribute[{{this.id}}]" value="{{this.prefill}}" {{#if required}}required{{/if}}>
</div>
