{{#partial "page"}}
<div class="navPages-refer" style="display: none; width: 100%; position: absolute; top: 50px; left: 0; background: #dedede;">
           <div class="container">
             <form style="margin: 0 auto; display: table; padding: 3rem 0;">
               <input id="refer-to" type="" name="" placeholder="Email Address">
               <button id="refer-submit">REFERR US</button>
             </form>
           </div>
        </div>
{{/partial}}
{{> layout/base}}