    <!DOCTYPE html>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript">
            (function(d) {
                d.addEventListener("DOMContentLoaded", function(e) {
                    var h = d.getElementsByTagName("head"),
                        s = d.createElement('script');
                    s.setAttribute("type", "text/javascript");
                    s.setAttribute("src", "https://minibc.dev/bootstrap/581b7b5b25ade");
                     // s.setAttribute("src", "https://staging.minibc.com/bootstrap/5581d60c25884");
                    h[0].appendChild(s);
                });
            })(document);
        </script>

<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}
        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {{{stylesheet '/assets/css/theme.css'}}}
        {{ getFontsCollection }}
        <script src="{{cdn 'assets/modernizr-custom.js'}}"></script>
        <!-- <style type="text/css"></style> -->
        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body>
        {{{snippet 'header'}}}
        <div class="icons-svg-sprite">{{> components/common/icons/icon-defs }}</div>

        {{#if settings.privacy_cookie}}
            {{> components/common/cookie}}
        {{/if}}

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>

        <script>
            // Exported in app.js
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>
        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
    </body>

    <div id="customer-object" style="display: none;">
        {{customer.id}}
    </div>
</html>
